.app
	
	& footer
		flex(row)
		background-color backgroundDark
		justify-content center
		padding 10px 0
		position relative
		text-align center
		width 100%
		z-index 100
		
		& .footerText
			line-height 25px
			margin-right 15px
		
		& .verticalBorder
			border-left 2px solid backgroundLight
			margin 0 15px
		
		& .dioxus
			
			& img
				width 25px
		
		& .github
			
			& img
				width 25px
		
		& .godot
			margin-left 15px
			
			& img
				width 25px
