.app
	
	& header
		background-color backgroundDark
		left 0
		position fixed
		top 0
		width 100vw
		z-index 100
		
		& h1
			font-size 3em
			padding-bottom 5px
		
		& .github
			flex(column)
			height 69px
			justify-content center
			position absolute
			right 30px
			top 0
			
			& img
				width 35px
		
		& .godot
			flex(column)
			height 69px
			justify-content center
			position absolute
			right 75px
			top 0
