@media screen and (max-width: 500px)
	.app
		
		& header
			
			& h1
				font-size 1.5em
				line-height 69px
			
			& .github
				right 10px
		
		& footer
			
			& *
				font-size .6em
			
			& .footerText
				margin-right 10px
			
			& .verticalBorder
				margin 0 7px

@media screen and (min-width: 501px) and (max-width: 720px)
	.app 
		& header h1
			font-size 2em
			line-height 65px
		
		& footer *
			font-size .8em

@media screen and (max-width: 720px)
	.app
		
		& .parallax
			left -750px
		
		& .transparentColumn
			left 0
			width 100%
		
		& .mainContent
			width 100%
			
			& .primarySection
				width 95%
				
				& h3
					font-size 1.5em
				
				& .row .content
					font-size 1em
			
			& .spacer
				height 150px

@media screen and (min-width: 721px) and (max-width: 960px)
	.app
		
		& .parallax
			left calc(((1920px - 100%) * -1) + 50%)
		
		& .mainContent .primarySection
			width 80%

@media screen and (min-width: 961px) and (max-width: 1280px)
	.app
		
		& .parallax
			left calc(((1920px - 100%) * -1) + 35%)
		
		& .mainContent .primarySection
			width 80%

@media screen and (min-width: 1281px)
	.app .parallax
		left calc((1920px - 100%) * -1)
		width 100%
